{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'iofrm-theme4.css' %}">
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'graphic1.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="{% url 'assignment:login' %}" class="active">Login</a><a href="{% url 'assignment:signup' %}" >Register</a>
                        </div>
                        <form method="POST" action="{% url 'assignment:login' %}">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="username" autofocus required id="id_username" placeholder="Email Address" required>
                            <input class="form-control" type="password" name="password" required id="id_password" placeholder="Password" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
</body>

</html>